extends layout

block content
  h1= title

  p.text-success
    strong You upload was successful!
  p Your submission time is: 
    strong.text-info #{time}
  p The SHA1 hash of you submission is: 
    strong.text-info #{digest}
  p.text-danger
    strong CHECK THE SHA1 HASH MATCHES YOUR SOLUTION!
  p.upload
    | Students often upload the wrong file, this is not a valid reason
    | for a late submission, you failed at the easiest part. Unpack your
    | submitted tar file to ensure it contains all of your solution, and
    | then check it's SHA1 hash is a match. You will loose marks if you
    | submit the wrong files.

